* {
    border: 0;
    margin: 0;
    padding: 0;
}

.bgvideo_home {
    display: block;
      position: absolute;
      z-index: 0;
      width: 110vw; 
      height: auto;
      top: 0;
      right: 0;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      margin: auto;
      }
.deflogo_home {
    width: 25%;
    opacity: .6;
    position: absolute;
    top: 5%;
    left: 5%;
    animation: zoomin 7s; }
    @keyframes zoomin {
        0% {
          opacity: 0.1;
          height: 2000%;
          width: 1000%;}
        50% {
          opacity: .2;
          height: 2000%;
          width: 1000%;}        
        100% {
          opacity: .6;
          width: 25%;
          height: auto; }
}
.deflogo_home:hover{
    opacity: .8;
}

.Homepage {
    overflow: hidden; 
    height: 100vh;
}
 a {
    text-decoration: none;
}
 a:visited {
    color: #747373;
} 
a:hover {
    color: #D70C0C;

}
a:active {
    color: blue;
}
.deflogo {
    height: 20%;
    width: auto;
    margin: 2% 0 0 0;  
    opacity: .3;
}
.deflogo:hover{
  opacity: .5;
}

.menuholder {
    display: flex;
    opacity: .7;
    // background-color: darkgray;
    color: white;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 10%; 
    position: relative;
    top: 55%;
    right: 30% ;
    animation: slide-right 3s;}
  
@keyframes slide-right {
    0% {top: 200%;
    right: 200% }
    100% {top: 55%;
    right: 30% } }
    
        
.home_menu {
    border: 2px solid black;
    border-radius: 29px;
    transform: rotate(-30deg);
    margin: 0 0 1.5% 0;
    font-size: 2rem;
    /* display: inline-block; */
    padding-left: 107%;   
}
