.Login {
    text-align: center;
    margin-top: 5vh;
    font-size: 5em;
    display: flex;
    flex-direction: column;
}


.google_login_button{
    position: absolute;
    top: 2%;
    left: 2%;
}

#titlesubtext{
    font-size: .4em;
}

.loginLogo{
    width: 15%;    
    height: auto;
    margin: 0 auto;
}
.logout_button {
    position: absolute;
    right: 0;
    top: 0;
    margin: 5px;
}
.input_login{
    width: 17%;
    // height: 2%;
    border: 2px solid black;
    padding: 4px;
    border-radius: 5px;
    margin: 3px auto;
}

.custom_login_button {
   padding: 5px;
   border-width: 5px;  
   margin: 0 46%;
   border-style: ridge;
   border-color: #C8C28D;
   border-radius: 8px;
   background-color: #C8C28D;
   display: inline;
   font-size: .3em;
}
.custom_login_button:hover{
    transform: scale(1.2);
}


.custom_login_button:hover {
   animation-name: zoom_out;
   animation-duration: 1000ms;
}

