.logout_button {
    position: absolute;
    right: 0;
    top: 0;
    margin: 5px;
}

.Login {
    text-align: center;
    margin-top: 5vh;
    font-size: 5em;
}
.login_button {
   padding: 5px;
   border-width: 5px;  
   border-style: ridge;
   border-color: #C8C28D;
   border-radius: 8px;
   background-color: #C8C28D;
   font-size: .5em;
}
.login_button:hover{
    transform: scale(1.2);
}


.login_button:hover {
   animation-name: zoom_out;
   animation-duration: 1000ms;
}
.title {
    font-size: 1em;
}
/* .login_form{
    height: 25vh;
    width: 80vw;
    border: 2px solid #747272;
    position: absolute;
    top: 48vh;
    left: 10vw;
    background-color: #C3BFBF;
    display: inline;
} */


/* @keyframes zoom_out {
    0%   {  height: 5%;
            width: 12%;
            position: relative;
            background-color: #C3BFBF;
            display: none;}
    100% {
            height: 70vh;
            width: 80vw;
            border: 2px solid #747272;
            position: absolute;
            top: 10vh;
            left: 10vw;
            background-color: #C3BFBF;
            display: inline;}
}  */
