.Carousel {
    width: 100%;
    height: 650px;
    background-color: #CAB28B;
    background-image: url("./images/progressivegirls.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    text-align: center;
    
}