.main02Header {
    width: 100%;
    height: 30px;
    background-color: #FFF;
    text-align: center;
    display: none;
}
.main02Container {
    width: 100%;
    height: 400px;
    background-color: #341609;
    
    
}