.main03Header {
    width: 100%;
    height: 30px;
    background-color: #FFFFFF;
    text-align: center;
    display: none;
}
.main03Container {
    width: 100%;
    height: 70px;
    background-color: #CD9676;
    border-top: 2px solid tan;
}