
.Main01 {
    width: 100%;
    height: 150px;
    background-color: #E7A5;
    display: flex;
    flex-direction: row-reverse;
    align-content: space-around;
    // font-family: 'Baloo Paaji', cursive;
    // font-family: 'Cinzel Decorative', cursive;
    font-family: 'Fredoka One', cursive;
    // font-family: 'Lemonada', cursive;
    font-size: 1.7em;
    ul {
        list-style-type: circle;
        text-align: center;
        margin: auto;
        display: flex;
        flex-direction: row;
        align-content: space-between;
        li {
            display: block;
            margin-right: 25px;
        }
    }

}